<!-- Services Page -->
<section>
	<div class="container text-center">
		<div class="row">
			<div class="col col-sm-12">
				<h2>SERVICES</h2>
			</div>
		<div class="row">
			{% for services in services.data %}
				<div class="col col-sm-4">
					<div class="row">
					<h4>{{services.header.title}}</h4>
					</div>
					<div class="row">
					<p>{{ services.header.subtitle |striptags | slice(0, 191) | raw}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>			
</section>
<!-- End Services Page -->
