{% block body %}
<section class="slider">
	<div class="container-fluid home-body">
		<div class="row">
			<h2>body</h2>
		</div>

		<!-- @nil Example how to print something from the data that I shared -->
		<div>
			<h4>Total Reviews = {{ reviews.total }}</h4>
		</div>
		<div>
			<h4>Total Services = {{ services.total}}</h4>
		</div>
	</div>
</section>	
{% endblock %}