{% extends "newPage/newPageBase.html.twig" %}

{% block header %}
	<!-- Create a new twig file with the header and includ it in here printing an image and a navbar -->
	{% include 'newPage/newPageHeader.html.twig' %}
  
{% endblock %}


{% block body %}

    <div class="container-fluid home-body">
        <h2>body</h2>
        <h4>navigation Items = {{ navigation.items|length }}</h4>
        
        <!-- @nil Example how to print something from the data that I shared -->
        <h4>Total Reviews = {{ reviews.total }}</h4>
        <h4>Total Services = {{ services.total }}</h4>
    </div>
    
	
{% endblock %}


{% block footer %}
<!-- Create a new twig file with the footer and include a 3 column -->
  {% include 'newPage/newPageFooter.html.twig' %}

{% endblock %}