<section class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm">
				<h4> {{ about.header.title }}</h4>
				<p>{{ about.header.subtitle }}</p>
			</div>
			<div class="col-sm">
				<h4>Our Company </h4>
			</div>
			<div class="col-sm">
				<h4>Contact Us</h4>
			</div>
		</div>
	</div>
</section>
