{% block body %}

<section class="slider">
	<div class="container-fluid home-body">
		<div class="header_banner">
		<div class="row">
			<div class="col-sm">
        		<div class="banner_box text_left">
        			<h1 class="banner_subtitle">
        				Nil's Test
        			</h1>
        			<div class="banner_title">
        				<h4>Testing 1 2 3 4 5</h4>
        			</div>
        				<div class="banner_btn">
            				<a href="" class="btn btn-installer btn-white">
            				    Request A Quote 
            				</a>
        				</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="banner_reviews text-center row">
							<div class="banner_stars  col-sm-4">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="banner_text col-sm-8">
								<a href="">Read our genuine reviews</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
{% endblock %}