<section class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm">
				<h4>Our Company</h4>
			</div>
			<div class="col-sm">
				<h4>Our Services </h4>
			</div>
			<div class="col-sm">
				<h4>Get in Touch</h4>
			</div>
		</div>
	</div>
</section>
