.footer{
	color: $text-white;
	position: relative;
	width: 100%;
	min-height: 30%;
	padding: 50px 0;
    overflow-x: clip;
    overflow-y: clip;
	.banner_picture, .slider_picture {
		position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	object-fit: cover;
    	z-index: 0;
    	background: var(--main-80);
	}
	.footer_logo_cont{
		text-align:left;
	}
	.footer_logo{
		filter: brightness(0) invert(1);
		max-height:120px;
		margin-bottom: 50px;
	}
	.footer_links{
		font-family: 'Ubuntu Bold';
		font-size: 22px;
		text-align: left;
		div{
			margin:10px;
			font-family: 'Ubuntu Bold';
			font-size: 22px;
			text-align: left;
		}
		a{
			color:$text-white;
			font-family: 'Ubuntu Bold';
			font-size: 22px;
			text-decoration:none;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			
		}
		a:hover{
			font-weight: bold;
			opacity: .65;
		}
		i {
    		color: $text-main;
		}
		
		span {
			font-family: 'Ubuntu Light';
			font-size: 21px;
			margin-left: 24px;
			
		}
	
	}
	
	.footer_navbar{
		.footer_link{
			font-family: 'Ubuntu Light';
			font-size: 22px;
			text-align: left;
			margin:10px;
			a{
				color:$text-white;
				font-family: 'Ubuntu Light';
				font-size: 22px;
				text-decoration:none;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}
			a:hover{
				font-weight: bold;
				opacity: .65;
			}
		
		}
		
		
	}
	.footer_social  
	{
		margin-top: 30px !important;
		margin-left: 20px  !important;
		[class*="fa fa-"] {
		    background-color: $text-main;
		    border-radius: 30px;
		    color: $text-white;
		    display: inline-block;
		    height: 45px;
		    line-height: 45px;
		    margin: auto 5px;
		    width: 45px;
		    font-size: 25px;
		    text-align: center;
		}
		[class*="fa fa-"]:hover {
			transform: matrix(1.07,0,0,1.07,0,0);
		    transform-origin: 50% 50% 0;
		    transition: all .2s ease-out;
		}
	}
	
	
	
	
	
	@media (max-width: $screen-sm-max) { 
		padding: 25px 0;
		.banner_picture, .slider_picture {
			height: 100%;
		}
		.why_us_btn, .why_us_points{
			margin-top: 25px;
		}
		.footer_logo_cont{
			text-align:center;
		}
		.footer_logo{
			max-height:100px;
			margin-bottom: 50px;
		}
		.footer_navbar{
			padding-left: 20px;
		}
	}
	
	@media (max-width: $screen-xs-max) { 
		.footer_navbar{
			margin-top: 50px;
			padding-left: 20px;
		}
	}
	
}

	
.copyright{
	background-color: #205ca7;
	font-family: 'Ubuntu Light';
	font-size: 22px;
	text-align: left;
	a{
		color: white;
	}
}